* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: "Hanken Grotesk", Arial, sans-serif;
    background-color: #262626;
    color: #D9D9D9;
    padding: 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
}

header{
    text-align: center;
    width:352px;
    margin:18px auto;
}

header > h1{
    color: #F9F4DA;
    font-weight:500;
    line-height:26px;
}

header > p{
    font-size:14px;
    font-weight:500;
    line-height: 18px;
    max-width:100%;
    color: #8E8E8E;
    margin-top:15px;
}

.game-status{
    max-width:352px;
    margin: 30px auto;
    text-align:center;
    background-color:#10A95B;
    padding:6px 0;
}

.game-status h2{
    font-weight:500;
    color: #F9F4DA;
}


section.language-chips {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    max-width: 350px;
    margin:10px auto 36px;
}

span.chip {
    border-radius: 3px;
    padding: 4.5px;
}

.word{
    display: flex;
    justify-content: center;
    gap:10px;
    width: 334px;
    height:40px;
    margin:10px auto 36px;
}

.letter{
    width:40px;
    height:40px;
    border-bottom:1px solid #F9F4DA;
    padding:8.5px 6px;
    font-weight:700;
    color:#F9F4DA;
    background-color: #323232;
    font-size: 18px;
    text-align: center;
    border-radius:4px;
}

  .btn-section{
    padding:10px;
    max-width:450px;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:8px;
    margin:10px auto 36px;
}  

.btn{
  font-family: "Hanken Grotesk", Arial, sans-serif;
  cursor: pointer;
  width:35px;
  height:35px;
  border-radius:4px;
  background-color: #FCBA29;
  border:none;
}

.new-game{
    font-family: "Hanken Grotesk", Arial, sans-serif;
    background-color: #11B5E5;
    border:1px solid #D7D7D7;
    border-radius:4px;
    display:block;
    width:227px;
    margin:10px auto;
    padding:6px 12px;
    font-weight:600;
    text-align:center;
    cursor: pointer;
    font-size:16px;
}